
* {
    margin: 1%;
    padding: 0.9%;
    text-align: center;
}

html {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(185, 11, 11);
}

body {
    background-image: url(bgimg00.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 1.5s ease-in-out;
}

h3 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
}

#question {
    animation: fadeIn 2s ease-in-out;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.score {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.form-check {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-check:hover {
    background-color: #d0d0d0;
}

.form-check-input {
    margin-right: 10px;
    display: none;
}

.form-check-label {
    cursor: pointer;
    font-size: 1.1em;
    width: 100%;
}

.form-check.selected {
    background-color: #b3e5fc;
}

.timer-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.timer {
    width: 50px;
    height: 50px;
    border: 3px solid #4CAF50;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.timer .time {
    font-size: 1.5em;
    color: #333;
    position: absolute;
}
